/* external style sheet */

body {
    background-color: rgba(227, 41, 8, 0.511);
}

* {border: 20px;
}


h1 {
    color: #065535;
    text-align: center;
}

nav {
    border: 20cm;
}

li {
    color: #065535;
    text-size-adjust: 20cm;
}

img {
    display: inline-block; 
    width: 30%;
    height: 300px;
}

p {
    color: black;
    text-indent: 2cm;
}

a {
    color: whitesmoke;
}