/* external style sheet */

body {
    background-color: rgba(227, 41, 8, 0.511);
}

h1 {
    color: #065535;
    text-align: center;
    text-size-adjust: 100cm;
    background-color: lightpink;
}

nav ul li {
    align-items: left;
    display: inline-block;
    margin-left: 37cm;
    list-style: none;
}

li {
    color: #065535;
    text-size-adjust: 20cm;
}

img {
    display: inline-block; 
    margin-left: 1cm;
    width: 30%;
    height: 300px;
}

p {
    color: black;
    text-indent: 2cm;
}

a {
    color: whitesmoke;
}

footer {
    display: block;
    margin-left: 5cm;
}

ol {
    background-color: lightgreen;
}

/* must fix items that are not translating to website */